@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  box-sizing: border-box;
  min-height: 100vh;
  min-width: 98vw;
  margin: 0;
  padding: 5rem;
  /* Created with https://www.css-gradient.com */
  background: #e4ffff;
  font-family: 'Pacifico', cursive;
  font-weight: 400;
}

.home-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-title{
  font-size: 2em;
  text-transform: uppercase;
  margin-bottom: 3rem;
  border-bottom: 2px solid #000;
}

.body-container{
  min-width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.guest-container{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
  padding: .5rem;
  padding-right: 1rem;
}

.title p{
  margin-bottom: 0;
}

.escorts-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #000;
}

.escorts-container:last-child{
  border-bottom: 0;
}

.bad{
  color: red;
}

.good{
  color: green;
}

.accordion{
  --bs-accordion-border-radius: 1rem;
  --bs-accordion-inner-border-radius: 1rem;
  --bs-accordion-active-bg: #d8bfd8;
  --bs-accordion-active-color: #000;
  --bs-accordion-btn-focus-border-color: none;
}